 body {
     font-family: arial,sans-serif;
 }

 img {
     width: 100%;
 }


/* Sony bar */

 .sony-logo {
    position: absolute;
    line-height: 36px;
    width: 90px;
    right: 0;
    margin-right: 10px;
}

.sony-bar-container {
    text-align: right;
    height: 36px;
    position: relative;
}

li.nav-item.dropdown {
    list-style: none;
}

i.fas.fa-search {
    font-size: 1.5rem;
}

.nav-search {
    padding-left: 30px;
    border: none;
    background-color: transparent;
    FONT-SIZE: 1.3rem;
}

button.btn.btn-dark {
    border-radius: 50px;
}

a#dropdown03 {
    font-weight: 600;
    color: black;
}

 #sony-bar {
     background-color: black;
 }

 /* Jumbo 1 */

 .button-orange {
     background-color: #cd3d0f;
 }

 .jumbo-banner-logo {
    width: 60%;
    padding: 10px;
}

.jumbo-container h1 {
    font-size: 2.5rem;
}


 #jumbo-1 {
    min-height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
 }

 /* Game list */

 .game-container-img img {
    border-radius: 15px;
    width: 100%;
}

.game-container-img {
    height: 100%;
    border-radius: 15px;
}

.game-container {
    padding: 1px;
    border: 3px solid white
}

.games-hover:hover {
    cursor: pointer;
    border: 3px solid #0072ce;
    border-radius: 15px;
}

/* PS5 presentation */
.title-presentation span {
    font-size: 0.9rem;
    color: #0072ce;
}

.p-presentation p {
    color: gray;
    font-size: 1.2rem;
}

/* PS5  */

.button-blue {
    border-color: #0072ce;
    background-color: #427aa8;
}

/* PS5 Components */

.padding-20 {
    padding: 20px;
}

.opacity{
    opacity: 0.7;
}

.ps5-elements-hover:hover {
    opacity: 1;
    border-bottom: 1px solid #427aa8;
}