 body {
     font-family: arial,sans-serif;
 }


/* Sony bar */

 .sony-logo {
    position: absolute;
    line-height: 36px;
    width: 90px;
    right: 0;
    margin-right: 10px;
}

.sony-bar-container {
    text-align: right;
    height: 36px;
    position: relative;
}

 #sony-bar {
     background-color: black;
 }